name: release

on:
  push:
    tags:
    - '*'

jobs:
  release-x86_64-windows:
    name: Build for x86_64-windows
    runs-on: windows-latest
    steps:

      # Checkout the project
      - uses: actions/checkout@v6

      - name: Remove lockdir because it won't build on Windows
        run: Remove-Item -Recurse -Force dune.lock

      - uses: msys2/setup-msys2@v2
      - run: echo C:\msys64\usr\bin >> $env:GITHUB_PATH
      - run: echo C:\msys64\mingw64\bin >> $env:GITHUB_PATH
      - run: pacman -S --needed --noconfirm mingw-w64-x86_64-zstd

      - name: Install an Alice to bootstrap tools
        run: winget install --id OCaml.Alice --exact --accept-package-agreements --accept-source-agreements

      - name: Add Alice to PATH
        run: echo "$env:LOCALAPPDATA\Microsoft\WinGet\Links" >> $env:GITHUB_PATH

      - name: Test Alice installation
        run: alice --version

      - name: Add Alice's tools to PATH
        run: echo "$env:LOCALAPPDATA\alice\current\bin" >> $env:GITHUB_PATH

      - name: Use Alice to bootstrap OCaml environment
        run: alice tools install --compiler-only

      - name: Test OCaml tools were installed
        run: ocamlopt.opt --version

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ocaml.5.3.1+relocatable
          opam-repositories: "default: https://github.com/ocaml/opam-repository.git\nalice: git+https://github.com/alicecaml/alice-opam-repo.git"

      - name: Install Deps
        run: opam install . -y --deps-only

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $env:GITHUB_ENV
      - run: opam exec dune build

      # Release a tarball
      - run: echo ALICE_OUT_NAME=alice-${{ github.ref_name }}-x86_64-windows >> $env:GITHUB_ENV
      - run: mkdir "$env:ALICE_OUT_NAME"
      - run: Copy-Item -Recurse -Force _build/install/default/* "$env:ALICE_OUT_NAME"
      - run: |
          mkdir -p "$env:ALICE_OUT_NAME/share/bash-completion/completions"
          opam exec -- sh scripts/generate_minified_bash_completion_script.sh > "$env:ALICE_OUT_NAME/share/bash-completion/completions/alice"
      - run: tar czf "$env:ALICE_OUT_NAME.tar.gz" "$env:ALICE_OUT_NAME"
      - run: Compress-Archive -Path "_build\install\default\bin\alice.exe" -DestinationPath "$env:ALICE_OUT_NAME.zip" -Force
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "*.tar.gz,*.zip"

  release-unix:
    name: Build for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15-intel
            name: x86_64-macos
          - os: macos-15
            name: aarch64-macos
          - os: ubuntu-latest
            name: x86_64-linux-gnu
    steps:
      # Checkout the project
      - uses: actions/checkout@v6

      - if: matrix.os == 'macos-15-intel'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      - if: matrix.os == 'macos-15'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      # Set up local bin directory for installing tools into
      - run: echo $HOME/.local/bin >> $GITHUB_PATH

      # Install Dune
      - run: curl -fsSL https://github.com/ocaml-dune/dune-bin-install/releases/download/v3/install.sh | sh -s 3.20.2 --install-root $HOME/.local --no-update-shell-config
      - run: which dune
      - run: dune --version

      # Install OCaml
      - run: echo $HOME/.local/share/alice/current/bin >> $GITHUB_PATH
      - run: curl -fsSL https://github.com/alicecaml/alice-install/releases/download/v5/install.sh | sh -s -- 0.3.0 --no-prompt --install-tools --no-update-shell-config --install-compiler-only
      - run: which ocamlopt.opt

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $GITHUB_ENV
      - run: dune build

      # Release a tarball
      - run: echo ALICE_OUT_NAME=alice-${{ github.ref_name }}-${{ matrix.name }} >> $GITHUB_ENV
      - run: mkdir "$ALICE_OUT_NAME"
      - run: cp -rlf _build/install/default/* "$ALICE_OUT_NAME"
      - if: matrix.os == 'ubuntu-latest'
        run: |
          chmod a+w "$ALICE_OUT_NAME"/bin/alice
          strip "$ALICE_OUT_NAME"/bin/alice
          chmod a-w "$ALICE_OUT_NAME"/bin/alice
      - run: |
          mkdir -p $ALICE_OUT_NAME/share/bash-completion/completions
          scripts/generate_minified_bash_completion_script.sh > $ALICE_OUT_NAME/share/bash-completion/completions/alice
      - run: tar czf "$ALICE_OUT_NAME.tar.gz" "$ALICE_OUT_NAME"
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "*.tar.gz"

  release-x86_64-linux-musl-static:
    name: Build for x86_64-linux-musl-static
    runs-on: ubuntu-latest
    steps:
      # Checkout the project
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: docker buildx build --output type=local,dest=./out -f scripts/build-alice-x86_64-linux-musl-static.dockerfile .
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "out/*.tar.gz"

  release-aarch64-linux-musl-static:
    name: Build for aarch64-linux-musl-static
    runs-on: ubuntu-24.04-arm
    steps:
      # Checkout the project
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: docker buildx build --output type=local,dest=./out -f scripts/build-alice-aarch64-linux-musl-static.dockerfile .
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "out/*.tar.gz"

  release-aarch64-linux-gnu:
    name: Build for aarch64-linux-gnu
    runs-on: ubuntu-24.04-arm
    steps:
      # Checkout the project
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: docker buildx build --output type=local,dest=./out -f scripts/build-alice-aarch64-linux-gnu.dockerfile .
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "out/*.tar.gz"

  release-hermetic-source:
    name: Make a source archive that can be built without ocaml-system
    runs-on: ubuntu-latest
    steps:
      - run: echo ALICE_OUT_NAME=alice-${{ github.ref_name }}-hermetic-source >> $GITHUB_ENV
      - uses: actions/checkout@v6
        with:
          path: alice

      # Set up local root directory for installing tools into
      - run: echo $HOME/.local/bin >> $GITHUB_PATH

      - name: Install Dune
        run: |
          curl -fsSL https://github.com/ocaml-dune/dune-bin-install/releases/download/v2/install.sh | sh -s 3.20.1 --install-root $HOME/.local --no-update-shell-config
          which dune
          dune --version

      - name: Relock the project without dune-workspace
        run: |
          cd alice
          rm dune-workspace
          DUNE_CONFIG__PORTABLE_LOCK_DIR=enabled dune pkg lock --only-packages alice
          rm -rf _build
          cd ..
          mv alice $ALICE_OUT_NAME

      - name: Create a source archive
        run: tar czf $ALICE_OUT_NAME.tar.gz $ALICE_OUT_NAME

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "*.tar.gz"
