name: test
on: [push, pull_request]
jobs:
  test-x86_64-windows:
    name: Test for x86_64-windows
    runs-on: windows-latest
    steps:

      # Checkout the project
      - uses: actions/checkout@v6

      # Install mingw64
      - uses: msys2/setup-msys2@v2
      - run: echo C:\msys64\usr\bin >> $env:GITHUB_PATH
      - run: echo C:\msys64\mingw64\bin >> $env:GITHUB_PATH
      - run: Get-Command pacman
      - run: pacman -S --needed --noconfirm mingw-w64-x86_64-gcc
      - run: Get-Command gcc

      # Set up local root directory for installing tools into
      - run: echo ${{ github.workspace }}\.local\bin >> $env:GITHUB_PATH
      - run: mkdir .local

      # Install Dune
      - run: echo DUNE_NAME=dune-3.20.1-x86_64-windows >> $env:GITHUB_ENV
      - run: curl --output "$env:DUNE_NAME.tar.gz" "https://s3.g.s4.mega.io/ycsnsngpe2elgjdd2uzbdpyj6s54q5itlvy6g/alice/dune/$env:DUNE_NAME.tar.gz"
      - run: tar xf "$env:DUNE_NAME.tar.gz"
      - run: Copy-Item -Recurse -Force "$env:DUNE_NAME/*" .local
      - run: Remove-Item -Recurse -Force "$env:DUNE_NAME"
      - run: Remove-Item -Recurse -Force "$env:DUNE_NAME.tar.gz"

      # Install Alice (used to bootstrap environment)
      - run: echo ALICE_IN_VERSION="0.3.0-alpha2" >> $env:GITHUB_ENV
      - run: echo ALICE_IN_NAME="alice-$env:ALICE_IN_VERSION-x86_64-windows" >> $env:GITHUB_ENV
      - run: echo "https://github.com/alicecaml/alice/releases/download/$env:ALICE_IN_VERSION/$env:ALICE_IN_NAME.tar.gz"
      - run: curl -fsSL --output "$env:ALICE_IN_NAME.tar.gz" "https://github.com/alicecaml/alice/releases/download/$env:ALICE_IN_VERSION/$env:ALICE_IN_NAME.tar.gz"
      - run: tar xf "$env:ALICE_IN_NAME.tar.gz"
      - run: Copy-Item -Recurse -Force "$env:ALICE_IN_NAME/*" .local
      - run: Remove-Item -Recurse -Force "$env:ALICE_IN_NAME"
      - run: Remove-Item -Recurse -Force "$env:ALICE_IN_NAME.tar.gz"

      # Make sure that Dune and Alice both work
      - run: Get-Command dune
      - run: dune --version
      - run: Get-Command alice
      - run: alice --help

      # Use Alice to bootstrap OCaml environment
      - run: alice tools install --compiler-only

      # Save the environment so we can remove the root from $Env:Path after building.
      - run: cat "$env:GITHUB_PATH" > old-path.txt
      - run: echo "$HOME\AppData\Local\alice\current\bin" >> $env:GITHUB_PATH

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $env:GITHUB_ENV
      - run: dune build

      # Run tests
      - run: dune test

      # Restore the environment
      - run: cat old-path.txt > "$env:GITHUB_PATH"

      # Install the alice we just built
      - run: Copy-Item -Recurse -Force _build\install\default\bin\alice.exe ${{ github.workspace }}\.local\bin
      - run: alice --version

      # Test that alice works without the root in $Env:Path
      - run: alice new --exe hello
      - run: alice run --manifest-path hello/Alice.toml

  test-unix:
    name: Test for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15-intel
            name: x86_64-macos
          - os: macos-15
            name: aarch64-macos
          - os: ubuntu-latest
            name: x86_64-linux-gnu
    steps:
      # Checkout the project
      - uses: actions/checkout@v6

      - if: matrix.os == 'macos-15-intel'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      - if: matrix.os == 'macos-15'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      # Set up local bin directory for installing tools into
      - run: echo $HOME/.local/bin >> $GITHUB_PATH

      # Install Dune
      - run: curl -fsSL https://github.com/ocaml-dune/dune-bin-install/releases/download/v3/install.sh | sh -s 3.20.2 --install-root $HOME/.local --no-update-shell-config
      - run: which dune
      - run: dune --version

      # Install OCaml
      - run: curl -fsSL https://github.com/alicecaml/alice-install/releases/download/v5/install.sh | sh -s -- 0.3.0-alpha2 --no-prompt --install-tools --no-update-shell-config --install-compiler-only

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $GITHUB_ENV
      - run: PATH="$HOME/.local/share/alice/current/bin:$PATH" dune build

      # Run tests
      - run: PATH="$HOME/.local/share/alice/current/bin:$PATH" dune test

      # Install the alice we just built
      - run: cp -vlf _build/install/default/bin/alice $HOME/.local/bin
      - run: which alice
      - run: alice --version

      # Test that alice works without the root in $PATH
      - run: alice new --exe hello
      - run: alice run --manifest-path hello/Alice.toml

  test-flake-build:
    name: Test that the nix flake can be built
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: nix build
      - run: nix build .#dev

  test-flake-shell:
    name: Test that alice works within its nix shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Set up a project and build it with alice in a nix shell
        shell: nix shell . -c bash -e {0}
        run: |
          cd $(mktemp -d)
          alice new --exe foo
          cd foo
          alice run
