name: test
on: [push, pull_request]
jobs:
  test-x86_64-windows:
    name: Test for x86_64-windows
    runs-on: windows-latest
    steps:

      # Checkout the project
      - uses: actions/checkout@v6

      - name: Remove lockdir because it won't build on Windows
        run: Remove-Item -Recurse -Force dune.lock

      - uses: msys2/setup-msys2@v2
      - run: echo C:\msys64\usr\bin >> $env:GITHUB_PATH
      - run: echo C:\msys64\mingw64\bin >> $env:GITHUB_PATH
      - run: pacman -S --needed --noconfirm mingw-w64-x86_64-gcc

      - name: Install an Alice to bootstrap tools
        run: winget install --id OCaml.Alice --exact --accept-package-agreements --accept-source-agreements

      - name: Add Alice to PATH
        run: echo "$env:LOCALAPPDATA\Microsoft\WinGet\Links" >> $env:GITHUB_PATH

      - name: Test Alice installation
        run: alice --version

      - name: Add Alice's tools to PATH
        run: echo "$env:LOCALAPPDATA\alice\current\bin" >> $env:GITHUB_PATH

      - name: Use Alice to bootstrap OCaml environment
        run: alice tools install --compiler-only

      - name: Test OCaml tools were installed
        run: ocamlopt.opt --version

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ocaml.5.3.1+relocatable
          opam-repositories: "default: https://github.com/ocaml/opam-repository.git\nalice: git+https://github.com/alicecaml/alice-opam-repo.git"

      - name: Install Deps
        run: opam install . -y --deps-only

      - name: Build Alice
        run: opam exec dune build

      - name: Run integration tests
        run: opam exec dune test

      - name: Install Alice
        run: opam pin add alice .

      - name: Sanity check that Alice is installed
        run: opam exec -- alice --version

      - name: Make a new Alice project
        run: opam exec -- alice new --exe hello

      - name: Run the new Alice project
        run: opam exec -- alice run --manifest-path hello/Alice.kdl

  test-unix:
    name: Test for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15-intel
            name: x86_64-macos
          - os: macos-15
            name: aarch64-macos
          - os: ubuntu-latest
            name: x86_64-linux-gnu
    steps:
      # Checkout the project
      - uses: actions/checkout@v6

      - if: matrix.os == 'macos-15-intel'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      - if: matrix.os == 'macos-15'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      # Set up local bin directory for installing tools into
      - run: echo $HOME/.local/bin >> $GITHUB_PATH

      # Install Dune
      - run: curl -fsSL https://github.com/ocaml-dune/dune-bin-install/releases/download/v3/install.sh | sh -s 3.20.2 --install-root $HOME/.local --no-update-shell-config
      - run: which dune
      - run: dune --version

      # Install OCaml
      - run: curl -fsSL https://github.com/alicecaml/alice-install/releases/download/v5/install.sh | sh -s -- 0.3.0 --no-prompt --install-tools --no-update-shell-config --install-compiler-only

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $GITHUB_ENV
      - run: PATH="$HOME/.local/share/alice/current/bin:$PATH" dune build

      # Run tests
      - run: PATH="$HOME/.local/share/alice/current/bin:$PATH" dune test

      # Install the alice we just built
      - run: cp -vlf _build/install/default/bin/alice $HOME/.local/bin
      - run: which alice
      - run: alice --version

      # Test that alice works without the root in $PATH
      - run: alice new --exe hello
      - run: alice run --manifest-path hello/Alice.kdl

  test-nix-build:
    name: Test that some of the nix devirations can be built
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: nix-build
      - run: nix-build release.nix -A default
      - run: nix-build release.nix -A aliceWithoutTools
      - run: nix-build release.nix -A aliceWithTools
      - run: nix-build release.nix -A versioned.0_2_0.aliceWithoutTools
      - run: nix-build release.nix -A tools
      - run: nix-build release.nix -A versioned.latest.aliceWithTools

  test-flake-build:
    name: Test that the nix flake can be built
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: nix build
      - run: nix build .#alice_0_2_0.aliceWithoutTools
      - run: nix build .#tools
      - run: nix build .#alice_latest.aliceWithTools

  test-flake-shell:
    name: Test that alice works within its nix shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Set up a project and build it with alice in a nix shell
        shell: nix shell . -c bash -e {0}
        run: |
          cd $(mktemp -d)
          alice new --exe foo
          cd foo
          alice run
