name: test
on: [push, pull_request]
jobs:
  test-window-x86_64:
    name: Test for Windows x86_64
    runs-on: windows-latest
    steps:

      # Checkout the project
      - uses: actions/checkout@v4

      # Install mingw64
      - uses: msys2/setup-msys2@v2
      - run: echo C:\msys64\usr\bin >> $env:GITHUB_PATH
      - run: echo C:\msys64\mingw64\bin >> $env:GITHUB_PATH
      - run: Get-Command pacman
      - run: pacman -S --needed --noconfirm mingw-w64-x86_64-gcc
      - run: Get-Command gcc

      # Set up local root directory for installing tools into
      - run: echo ${{ github.workspace }}\.local\bin >> $env:GITHUB_PATH
      - run: mkdir .local

      # Install Dune
      - run: echo DUNE_NAME=dune-3.20.1-x86_64-windows >> $env:GITHUB_ENV
      - run: curl --output "$env:DUNE_NAME.tar.gz" "https://s3.g.s4.mega.io/ycsnsngpe2elgjdd2uzbdpyj6s54q5itlvy6g/alice/dune/$env:DUNE_NAME.tar.gz"
      - run: tar xf "$env:DUNE_NAME.tar.gz"
      - run: Copy-Item -Recurse -Force "$env:DUNE_NAME/*" .local
      - run: Remove-Item -Recurse -Force "$env:DUNE_NAME"
      - run: Remove-Item -Recurse -Force "$env:DUNE_NAME.tar.gz"

      # Install Alice (used to bootstrap environment)
      - run: echo "$HOME\.alice\current\bin" >> $env:GITHUB_PATH
      - run: echo ALICE_IN_NAME=alice-0.0.0-x86_64-windows >> $env:GITHUB_ENV
      - run: curl --output "$env:ALICE_IN_NAME.tar.gz" "https://s3.g.s4.mega.io/ycsnsngpe2elgjdd2uzbdpyj6s54q5itlvy6g/alice/alice/$env:ALICE_IN_NAME.tar.gz"
      - run: tar xf "$env:ALICE_IN_NAME.tar.gz"
      - run: Copy-Item -Recurse -Force "$env:ALICE_IN_NAME/*" .local
      - run: Remove-Item -Recurse -Force "$env:ALICE_IN_NAME"
      - run: Remove-Item -Recurse -Force "$env:ALICE_IN_NAME.tar.gz"

      # Make sure that Dune and Alice both work
      - run: Get-Command dune
      - run: dune --version
      - run: Get-Command alice
      - run: alice --help

      # Use Alice to bootstrap OCaml environment
      - run: alice tools install
      - run: Get-Command ocamlopt.opt

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $env:GITHUB_ENV
      - run: dune build

      # Run tests
      - run: dune test

  test-unix:
    name: Test for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-13
            name: x86_64-macos
          - os: macos-14
            name: aarch64-macos
          - os: ubuntu-latest
            name: x86_64-linux-gnu
    steps:
      # Checkout the project
      - uses: actions/checkout@v4

      - if: matrix.os == 'macos-13'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      - if: matrix.os == 'macos-14'
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: coreutils

      # Set up local root directory for installing tools into
      - run: echo $HOME/.local/bin >> $GITHUB_PATH

      # Install Dune
      - run: curl -fsSL https://github.com/ocaml-dune/dune-bin-install/releases/download/v2/install.sh | sh -s 3.20.1 --install-root /usr --no-update-shell-config
      - run: which dune
      - run: dune --version

      # Install OCaml
      - run: echo $HOME/.alice/current/bin >> $GITHUB_PATH
      - run: curl -fsSL https://alicecaml.org/install.sh | sh -s -- --no-prompt --install-tools --no-update-shell-config
      - run: which ocamlopt.opt

      # Build the project
      - run: echo DUNE_CONFIG__PKG_BUILD_PROGRESS=enabled >> $GITHUB_ENV
      - run: dune build

      # Run tests
      - run: dune test
